/* Updated Alert.css */
.alert-container {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 300px;
  z-index: 9999; /* Adjust the z-index to make sure it appears above other elements */
}

.alert {
  position: relative;
  padding: 15px;
  border-radius: 5px;
  width: 100%;
  background-color: #4caf50; /* Green background */
  color: white;
  margin-bottom: 15px;
}

.alert.error {
  background-color: #f44336; /* Red background for errors */
}
